@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.map_bg {
  height: 1000px;
  background: #00000055;
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: none;
}
#delete{
font-size:24px;
font-weight:bold
font-weight:bold;
}
#map {
  height: 700px;
  width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 50px;
  flex-direction: column;
  gap: 20px;

  /* left: 50%;
  top: 200px;
  transform: translateX(-50%); */
}
.location_select {
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  width: 770px;
  text-align: bold;
  margin: 0 auto;
  height: 100px;

  border: 1px solid #000;
}
.gps {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  opacity: 40%;
}
.current_location_group {
  display: flex;

  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
  width: 770px;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
}
.current_location_group:hover {
  border: 1px solid #1e1d1d;
}
.current_location_group:hover > .gps {
  opacity: 90%;
}
.current_location_group:hover > .current_location {
  color: #1e1d1d;
}
.map_search {
  padding-top: 140px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.map_search > input {
  outline: none;
  width: 600px;
  height: 70px;
  border: 1px solid #000;
  text-align: center;
  line-height: 70px;
  color: rgba(118, 118, 118, 0.822);
  font-weight: 500;
}
.map_search > button {
  width: 150px;
  height: 70px;
  background-color: #303030a6;
  color: white;
  font-weight: 500;
  margin-left: 20px;
}
.current_location {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #7e7e7e;
}
.location_complete {
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50px;
  line-height: 100px;

  background-color: #01cafe;
  color: white;
}
.side_menu {
  position: fixed;
  padding: 100px 100px;
  left: -100%;
  top: 0;
  width: 100%;
  height: 1200px;
  transition: all 0.6s;
  z-index: 10;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  background: #01cafe;
}
.panner::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid #ffffffbb;
  margin-top: 10px;
}
.panner > ul {
  margin-top: 50px;
}
.panner > ul > li {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
.side_login {
  display: flex;
  justify-content: space-between;
}
.side_login > a {
  font-size: 24px;
}
.side_login > a > strong {
  font-family: "yg-jalnan";
  font-size: 35px;
  font-weight: normal;
}
a.close {
  font-size: 50px;
}
a.close:hover {
  color: #ebfbff;
}
.side_menu.active {
  left: 50%;
}

.hamburger_btn {
  font-size: 3rem;
  margin-top: 25px;
  color: #ffffffeb;
  display: none;
}
.align {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20px;
}
header {
  height: 100px;
  background-color: #01cafe;
}
header > .align {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.scroll_btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  z-index: 5;
}
.scroll_btn ul {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  overflow: hidden;
  height: 60px;
  transition: 0.5s;
}
.scroll_btn ul:nth-child(1):hover {
  height: 290px;
}
.scroll_btn ul li img {
  display: block;
  width: 50px;
}

.logo > a {
  display: block;
}
.logo > a > img {
  width: 100px;
  display: block;
  line-height: 100px;
  height: 100px;
  width: 120px;
}
.mainmenu {
  justify-content: flex-start;
  display: flex;
  font-size: 20px;
  color: #ffffffd7;
  font-weight: 500;
  width: 600px;
  text-align: center;
}
.mainmenu > li {
  position: relative;
  line-height: 100px;
  width: 20%;
  align-items: center;
}
.mainmenu > li:before,
li:after {
  content: "";
  width: 0;
  height: 5px;
  position: absolute;
  top: 80%;
  transition: 0.5s;
}
.mainmenu > li:before {
  left: 0;
  background: #ffffff;
  border-radius: 50px;
}
.mainmenu > li:after {
  right: 0;
  background: rgb(255, 255, 255);
  border-radius: 50px;
}
.mainmenu > li:hover:before {
  width: 50%;
  transform: translate(95%);
}
.mainmenu > li:hover:after {
  width: 50%;
  transform: translate(-95%);
}
.mainmenu > li:hover {
  color: rgb(255, 255, 255);
  transition: all 0.6s ease-out;
}
.mainmenu > li.active .sub_menu {
  display: block;
  color: #01cafe;
  display: flex;
  justify-content: center;
  transition: all 0.8s ease-out;
}

.sub_menu {
  height: 150px;
  font-size: 20px;
  font-weight: 500;
  z-index: 2;
  width: 100vw;
  display: none;
  position: fixed;
  left: 0;
  transition: all 0.6s ease-in;
  background-color: #eefcffed;
}
.sub_menu > p {
  line-height: 30px;
  margin-top: 40px;
  text-align: left;
}
.sub_menu > p > strong {
  font-size: 25px;
}
.drop_list {
  display: flex;
}
.drop_list > li {
  padding-top: 20px;
  margin-left: 100px;
  height: 150px;
  overflow: hidden;
}
.drop_list > li > a::before {
  transform: translate(0%);
}
.drop_list > li > a {
  position: relative;
}
.drop_list > li > a:before {
  transition: all 0.3s ease-in;
  content: "";
  display: block;
  background-image: url(../images/home.png);
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}
.drop_list > li > a:hover::before {
  top: -30px;
}
.quick_menu {
  display: flex;
  font-size: 20px;
  color: #ffffffd7;
  font-weight: 500;
}
.quick_menu > a:nth-child(1) {
  font-size: 20px;
  margin-top: 35px;
  margin-right: 40px;
  font-weight: bold;
}
.quick_menu > a:nth-child(2) {
  width: 40px;
  margin-right: 30px;
  margin-top: 30px;
}
.quick_menu > a:nth-child(3) {
  width: 40px;
  margin-top: 30px;
}
.location {
  width: 45px;
  margin-top: 25px;
  margin-left: 30px;
}
.swiper {
  height: 400px;
  cursor: pointer;
}
.swiper .swiper-slide:nth-child(1) {
  background: url(../images/main.jpg) no-repeat center;
  background-size: cover;
}
.swiper .swiper-slide:nth-child(2) {
  background: url(../images/banner01.jpg) no-repeat center;
  background-size: cover;
}
.swiper .swiper-slide:nth-child(3) {
  background: url(../images/banner03.jpg) no-repeat center;
  background-size: cover;
}
.swiper .swiper-slide:nth-child(4) {
  background: url(../images/banner02.jpg) no-repeat center;
  background-size: cover;
}
.swiper2 {
  display: none;
}

.swiper-button-next:after {
  margin-right: 150px;
  color: #eee;
}
.swiper-button-prev:after {
  margin-left: 150px;
  color: #eee;
}

  .main_board {
    background: #f1f1f1;
    padding-top:100px;
    padding-bottom:30px;
  }
  

  .main_board > .order {
  margin: 0 auto;
  justify-content: center;
    display: flex;
    margin-bottom:50px;
  }
  
  .order span:nth-child(1) {
    width: 250px;
    height: 60px;
    font-size: 18px;
     border-radius:50px;
  
     background-color:#01cafe; 
     color:white; 
     font-weight: bold;
     display:flex; 
     justify-content:center; 
     align-items:center;
  
     margin-right:-50px; /* 첫번째 스팬이 오른쪽으로 이동 */
     
     z-index:1; /* z-index를 높게 설정하여 다른 요소 위로 올림 */
  }
  
 
  
  .order span:nth-child(2) {
    
    width:250px;
    height:60px;
    font-size: 20px;
    border-radius:50px;
   
    background-color: #f1f1f1;
    box-shadow: inset 0px 0px 10px rgba(201, 201, 201, 0.5);
    color:#ccc; 
    font-weight: bold;
    display:flex; 
    justify-content:center; 
    align-items:center;
    
 
 }
  .main_board > .menu_container {
  padding-top:20px;
  display:flex;
  flex-direction: column;
  align-items:center;
    width: 1200px;
    background-color: white;
    margin:0 auto;
    margin-bottom:50px;
  }
  .menu_container2 {
    width: 1200px;
    margin-top: 50px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    
  }
  .cart_main {
    font-size: 24px; /* 원하는 글자 크기로 변경하세요 */
    font-weight: bold; /* 필요에 따라 굵게 설정하세요 */
    margin-bottom: 10px; /* 원하는 하단 마진값으로 변경하세요 */
    padding: 20px;
    width: 1100px;
  }
  
  /* .price_info 스타일 */
  .price_info ul {
    list-style: none;
    padding: 20px;
    margin: 0;
  }
  
  .price_info ul li {
    display: flex;
    justify-content: space-between;
    font-size: 18px; /* 원하는 글자 크기로 변경하세요 */
    margin-bottom: 5px; /* 원하는 하단 마진값으로 변경하세요 */
    gap: 800px;
  }
  
  .price_info ul li span:first-child {
    font-weight: bold; /* 상품금액, 배달팁, 할인금액에 굵은 글꼴 적용 */
  }
  
  /* .total_price 스타일 */
  .total_price {
    font-size: 24px; /* 원하는 글자 크기로 변경하세요 */
    font-weight: bold; /* 필요에 따라 굵게 설정하세요 */
    margin-top: 20px; /* 원하는 상단 마진값으로 변경하세요 */
    border-top: 1px solid #ccc; /* 상단에 2px 두께의 회색 경계선 추가 */
    padding-top: 10px; /* 상단 패딩 추가 */
  }
  
  .total_price ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .total_price ul li {
    display: flex;
    justify-content: space-between;
    font-size: 18px; /* 원하는 글자 크기로 변경하세요 */
    margin-bottom: 5px; /* 원하는 하단 마진값으로 변경하세요 */
    padding: 20px;
  }
  
  .total_price ul li span:first-child {
    font-weight: bold; /* "총 상품금액" 텍스트에 굵은 글꼴 적용 */
  }
  .main_board > .main_menu_container2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 500px;
    padding: 50px;
    }


  
 .menu_container > .main_name {
    width: 1100px;
    height: 100px;
    font-size: 26px;
    color: #01cafe;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 30px;
    border-bottom: 1px solid #ccc;
  }
  
   .main_menu {
    width: 1000px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }


.menu_container2  > .cart_main{
  padding: 20px;
}


  .main_menu > .menu_image {
    width: 150px;
  }
  
  .main_menu > .menu_name {
    width: 600px;
  }
/*.menu_name_box input[type="checkbox"] {
  transform: scale(2.2);
}*/
.form-check-input{
width:30px;
height:30px;}
  .menu_name > .menu_name_box > span {
    display: flex;
    margin-left: 10px;
    align-items: flex-start;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .menu_name > .name_price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #919191;
    font-family: "Noto Sans KR";
    margin-top: 10px; /* Adjust the value as needed */
  }
  .name_price ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .name_price ul li {
    font-size: 12px; /* 원하는 글자 크기로 변경하세요 */
    color: #919191; /* 글자 색상 설정 */
    margin-left: 12px;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬하도록 수정 */
    position: relative;
  }

  .option {
    width: 80px;
    border: 1px solid;
    font-weight: bold;
    border-radius: 10px;
    
}
  .quantity{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }
  .quantity > span {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    color: black;
    font-size: 15px;
    
  }
  .quantity > .minus {
    border: 1px solid #ccc;
    flex: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
    font-weight: bold;
 
  }
  .quantity > .plus {
    border: 1px solid #ccc ;
    flex: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-size: 20px;
  }
  .price{
    position: absolute;
    top: 60px;
    font-weight: bold;
    color: black;
    
  }
  .name_price ul li .span {
    font-weight: bold; /* 굵은 글꼴 설정 */
    gap: 100px;

  }
  .name_price ul li .span-bold {
    font-weight: bold; /* 굵은 글꼴 설정 */
    color: #01cafe; /* 굵은 글꼴의 글자 색상 설정 */
  }
  

  

  

  
  .menu_add{
    width: 1100px;
    height: 100px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    
  }
   .menu_add > img{
    width: 50px;
    height: 50px;
  }
   .menu_add > span{
    font-size: 20px;
  }

  .pay{
  width:1200px;
  display:block;
  height: 70px; /* 원하는 높이로 설정 */
  font-size: 20px;
  align-items: center;
  background-color: #01cafe; /* 배경색을 원하는 색으로 설정 */
  
  color:white; /* 텍스트 색상을 원하는 색으로 설정 */
  }

/* 추가된 css */
.hidden{
    display:none;
}