@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.map_bg {
  height: 100%;
  background: #00000055;
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: none;
}
#map {
  height: 100%;
  width: 1300px;
  margin: 0 auto;

  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 50px;
  flex-direction: column;
  gap: 20px;

  /* left: 50%;
  top: 200px;
  transform: translateX(-50%); */
}

.location_select {
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  width: 770px;
  text-align: bold;
  margin: 0 auto;
  height: 100px;

  border: 1px solid #000;
}
.gps {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  opacity: 40%;
}
.current_location_group {
  display: flex;

  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
  width: 770px;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
}
.current_location_group:hover {
  border: 1px solid #1e1d1d;
}
.current_location_group:hover > .gps {
  opacity: 90%;
}
.current_location_group:hover > .current_location {
  color: #1e1d1d;
}
.map_search {
  padding-top: 140px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.map_search > input {
  outline: none;
  width: 600px;
  height: 70px;
  border: 1px solid #000;
  text-align: center;
  line-height: 70px;
  color: rgba(118, 118, 118, 0.822);
  font-weight: 500;
}
.map_search > button {
  width: 150px;
  height: 70px;
  background-color: #303030a6;
  color: white;
  font-weight: 500;
  margin-left: 20px;
}
.current_location {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #7e7e7e;
}
.location_complete {
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50px;
  line-height: 100px;

  background-color: #01cafe;
  color: white;
}
.side_menu {
  position: fixed;
  padding: 100px 100px;
  left: -100%;
  top: 0;
  width: 100%;
  height: 1200px;
  transition: all 0.6s;
  z-index: 10;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  background: #01cafe;
}
.panner::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid #ffffffbb;
  margin-top: 10px;
}
.panner > ul {
  margin-top: 50px;
}
.panner > ul > li {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
.side_login {
  display: flex;
  justify-content: space-between;
}
.side_login > a {
  font-size: 24px;
}
.side_login > a > strong {
  font-family: "yg-jalnan";
  font-size: 35px;
  font-weight: normal;
}
a.close {
  font-size: 50px;
}
a.close:hover {
  color: #ebfbff;
}
.side_menu.active {
  left: 50%;
}

.hamburger_btn {
  font-size: 3rem;
  margin-top: 25px;
  color: #ffffffeb;
  display: none;
}
.align {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20px;
}
header {
  height: 100px;
  background-color: #01cafe;
}
header > .align {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.scroll_btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  z-index: 5;
}
.scroll_btn ul {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  overflow: hidden;
  height: 60px;
  transition: 0.5s;
}
.scroll_btn ul:nth-child(1):hover {
  height: 290px;
}
.scroll_btn ul li img {
  display: block;
  width: 50px;
}

.logo > a {
  display: block;
}
.logo > a > img {
  width: 100px;
  display: block;
  line-height: 100px;
  height: 100px;
  width: 120px;
}
.mainmenu {
  justify-content: flex-start;
  display: flex;
  font-size: 20px;
  color: #ffffffd7;
  font-weight: 500;
  width: 600px;
  text-align: center;
}
.mainmenu > li {
  position: relative;
  line-height: 100px;
  width: 20%;
  align-items: center;
}
.mainmenu > li:before,
li:after {
  content: "";
  width: 0;
  height: 5px;
  position: absolute;
  top: 80%;
  transition: 0.5s;
}
.mainmenu > li:before {
  left: 0;
  background: #ffffff;
  border-radius: 50px;
}
.mainmenu > li:after {
  right: 0;
  background: rgb(255, 255, 255);
  border-radius: 50px;
}
.mainmenu > li:hover:before {
  width: 50%;
  transform: translate(95%);
}
.mainmenu > li:hover:after {
  width: 50%;
  transform: translate(-95%);
}
.mainmenu > li:hover {
  color: rgb(255, 255, 255);
  transition: all 0.6s ease-out;
}
.mainmenu > li.active .sub_menu {
  display: block;
  color: #01cafe;
  display: flex;
  justify-content: center;
  transition: all 0.8s ease-out;
}

.sub_menu {
  height: 150px;
  font-size: 20px;
  font-weight: 500;
  z-index: 2;
  width: 100vw;
  display: none;
  position: fixed;
  left: 0;
  transition: all 0.6s ease-in;
  background-color: #eefcffed;
}
.sub_menu > p {
  line-height: 30px;
  margin-top: 40px;
  text-align: left;
}
.sub_menu > p > strong {
  font-size: 25px;
}
.drop_list {
  display: flex;
}
.drop_list > li {
  padding-top: 20px;
  margin-left: 100px;
  height: 150px;
  overflow: hidden;
}
.drop_list > li > a::before {
  transform: translate(0%);
}
.drop_list > li > a {
  position: relative;
}
.drop_list > li > a:before {
  transition: all 0.3s ease-in;
  content: "";
  display: block;
  background-image: url(../images/home.png);
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}
.drop_list > li > a:hover::before {
  top: -30px;
}
.quick_menu {
  display: flex;
  font-size: 20px;
  color: #ffffffd7;
  font-weight: 500;
}
.quick_menu > a:nth-child(1) {
  font-size: 20px;
  margin-top: 35px;
  margin-right: 40px;
  font-weight: bold;
}
.quick_menu > a:nth-child(2) {
  width: 40px;
  margin-right: 30px;
  margin-top: 30px;
}
.quick_menu > a:nth-child(3) {
  width: 40px;
  margin-top: 30px;
}
.location {
  width: 45px;
  margin-top: 25px;
  margin-left: 30px;
}
.swiper {
  height: 400px;
  cursor: pointer;
}
.slideFirtst {
  background: url(../images/main.jpg) no-repeat center;
  background-size: cover;
}
.slideSecond {
  background: url(../images/banner01.jpg) no-repeat center;
  background-size: cover;
}
.slideThird {
  background: url(../images/banner03.jpg) no-repeat center;
  background-size: cover;
}
.slideFourth {
  background: url(../images/banner02.jpg) no-repeat center;
  background-size: cover;
}
.swiper2 {
  display: none;
}

.swiper-button-next:after {
  margin-right: 150px;
  color: #eee;
}
.swiper-button-prev:after {
  margin-left: 150px;
  color: #eee;
}
section {
  height: 600px;
}
.section_recent {
  height: 700px;
}
.recommand_txt {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
.recommand_txt > a {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.recommand_title {
  font-family: "yg-jalnan";
  font-size: 35px;
}
.recommand_title > strong {
  color: #01cafe;
}
.recommand_img {
  margin-top: 70px;
}
.recommand_img > div > a > img {
  width: 250px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.recommand_img > div > a > span {
  text-align: center;
  margin-top: 40px;
  display: block;
  font-size: 20px;
}

.recommand_img > div > a > span > b {
  position: relative;
}
.recommand_img > div > a > span > b::after {
  content: "";
  width: 100%;
  height: 10px;
  background: #ffb60c;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 1px;
  z-index: -1;
  border-radius: 50px;
}

.recommand_img > div:nth-child(1) {
  transform: scale(0);
  animation: bluewave 1s forwards;
  animation-delay: 0.5s;
}
@keyframes bluewave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.recommand_img > div:nth-child(2) {
  transform: scale(0);
  animation: bluewave 1s forwards;
  animation-delay: 0.6s;
}
@keyframes bluewave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.recommand_img > div:nth-child(3) {
  transform: scale(0);
  animation: bluewave 1s forwards;
  animation-delay: 0.7s;
}
@keyframes bluewave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.reco_left:hover .reco01 {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.reco_middle:hover .reco02 {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.reco_right:hover .reco03 {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.recommand_img > div > a {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.recommand_img > div > a > img:nth-child(2) {
  transform: rotate(-90deg);
  width: 30px;
  padding: 0;
  margin-top: 10px;
}
.recommand_img {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.section_recent {
  background: #f1f1f1;
  margin-top: 70px;
}

.recent_txt {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}
.recent_txt > a {
  font-weight: bold;
  font-size: 16px;
  margin-top: 120px;
}

.recent_title {
  font-family: "yg-jalnan";
  font-size: 35px;
  padding-top: 100px;
}
.recent_img {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  cursor: pointer;
}
.recent_img > div > img {
  display: block;
  width: 350px;
}
.recent_img > div:hover > img {
  box-shadow: 5px 2px 20px 5px rgba(128, 128, 128, 0.135);
}
.recent01 {
  position: relative;
}
.recent02 {
  position: relative;
}
.good {
  top: -30px;
  right: 55px;

  font-size: 20px;
  font-family: "yg-jalnan";
  position: absolute;
  width: 70px;
  line-height: 70px;
  text-align: center;
  background: #01cafe;
  border-radius: 50%;
  color: white;
}

.grade {
  top: -30px;
  right: 0;
  font-size: 20px;
  font-family: "yg-jalnan";
  position: absolute;
  width: 70px;
  line-height: 70px;
  text-align: center;
  background: #ffa51f;
  border-radius: 50%;
  color: white;
}
.recent_img > div > span {
  display: block;
}

.recent_img > div > .recefirst_child {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #919191;
}
.section_event > .align {
  display: flex;
  justify-content: space-around;
}
.event_img {
  width: 400px;
  margin-top: 150px;
}
.event_img::before {
  content: "";
  display: block;
  background: url(../images/eventroulette_particle.png) no-repeat center;
  background-size: contain;
}
.recent_img > div > .recesecond_child {
  font-size: 28px;
  font-family: "yg-jalnan";
}
.event_txt {
  margin-top: 200px;
}

.event_txt > button {
  margin: 0 auto;
  display: block;
  font-size: 20px;
  font-family: "yg-jalnan";
  width: 200px;
  line-height: 50px;
  border: 3px solid #c7c7c7;
  border-radius: 50px;
}
.event_txt > button:hover {
  border: 3px solid #01cafe;
}
.event_txt > div {
  text-align: center;
}
.event_txt > div:nth-child(1) {
  font-size: 38px;
  font-family: "yg-jalnan";
}
.event_img {
  position: relative;
}
.section_event:hover .event_img > img:nth-child(1) {
  transform: scale(0);
  transform: translateY(0);
  animation: pop 1s forwards;
  animation-delay: 0.3s;
}
.event_img > img:nth-child(1) {
  position: absolute;
  width: 500px;
}
.import {
  display: none;
}
@keyframes pop {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
.event_txt > div:nth-child(2) {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #919191;
}
.event_txt > div:nth-child(1) > span {
  color: #01cafe;
  text-emphasis: filled #01cafe;
}

footer {
  height: 400px;
}
.sns > a > img {
  width: 30px;
}
.sns {
  margin-left: 10px;
  padding-top: 70px;
}
.sns > a:nth-child(2) {
  margin-left: 20px;
}
.footer_logo {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  color: #363636;
}
.footer_logo > div {
  margin-top: 30px;
}
.footer_logo > a > img {
  width: 100px;
}
.footer_nav > ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
  margin-left: 10px;
  color: #919191;
  font-weight: 500;
}
.footer_nav > ul > li:hover {
  color: #363636;
}
.copyright {
  margin-left: 10px;
  color: #919191;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.copyright > div > p {
  margin-top: 20px;
}
.familysite {
  margin-top: 10px;
  font-family: "yg-jalnan";
}
.familysite > select {
  width: 150px;
  height: 50px;
}
.familysite > select > option {
  width: 150px;
  height: 30px;
}
.section_service {
  display: none;
}
.footer_nav > ul > li:nth-child(1) {
  margin-left: 0;
}

@media all and (max-width: 1310px) {
  .recommand_img > div > a {
    width: 250px;
    height: 250px;
    transition: all 0.6s;
  }
  .recommand_img > div > a > img {
    width: 200px;
  }
  .recommand_img {
    gap: 100px;
    transition: all 0.6s;
  }
  .recent_img > div > img {
    width: 250px;
  }
  .recent_img {
    justify-content: center;
    gap: 40px;
  }
  .recent_img > div > .recefirst_child {
    margin-top: 10px;
  }
}

@media all and (max-width: 1000px) {
  nav {
    display: none;
  }
  .hamburger_btn {
    display: block;
  }
  .recommand_img > div > a {
    width: 200px;
    height: 200px;
    transition: all 0.6s;
  }
  .recommand_img > div > a > img {
    width: 150px;
  }
  .recommand_img {
    gap: 80px;
    transition: all 0.6s;
  }
  .section_recent {
    height: 600px;
  }
  .recent_img > div > .recefirst_child {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .recent_img > div > .recesecond_child {
    font-size: 24px;
  }
  .good {
    width: 50px;
    line-height: 50px;
    font-size: 13px;
    right: 40px;
  }
  .grade {
    width: 50px;
    line-height: 50px;
    font-size: 13px;
  }
}

@media all and (max-width: 800px) {
  .recommand_img > div > a {
    width: 150px;
    height: 150px;
    transition: all 0.6s;
  }
  .recommand_img > div > a > img {
    width: 100px;
  }
  .recommand_img {
    gap: 60px;
    transition: all 0.6s;
  }
  section {
    height: 400px;
  }
  .recommand_title {
    font-size: 30px;
    transition: all 0.6s ease-in-out;
  }
  .recommand_img > div > a > span {
    margin-top: 20px;
  }
  .scroll_btn {
    display: none;
  }
  .recent_img > div > .recefirst_child {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .recent_img > div > .recesecond_child {
    font-size: 20px;
  }
  .section_event > .align {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .section_event {
    height: 600px;
    transition: all 0.6s ease-in-out;
  }
  .event_img {
    margin-top: 0px;
    width: 300px;
    transition: all 0.6s ease-in-out;
  }
  .event_txt {
    margin: 0;
  }
  .event_txt > button {
    width: 150px;
  }
  .event_txt > div:nth-child(2) {
    margin-top: 0px;
  }
  .event_txt > div:nth-child(2) {
    margin-bottom: 10px;
  }
  .copyright {
    flex-direction: column;
    transition: all 0.6s ease-in-out;
  }
  .copyright > div {
    font-size: 10px;
  }
  .footer_nav > ul {
    font-size: 15px;
    gap: 20px;
    justify-content: center;
  }
  footer > .align {
    text-align: center;
  }
  .footer_logo {
    justify-content: center;
  }
  footer {
    height: 450px;
  }
  .familysite {
    margin-top: 10px;
  }
  footer {
    height: 500px;
  }
}

@media all and (max-width: 645px) {
  .import {
    display: none;
  }

  .import {
    display: block;
    transition: all 0.6s ease-in-out;
  }
  .copyright > div:nth-child(1) {
    display: none;
    transition: all 0.6s ease-in-out;
  }
  .footer_nav > ul {
    font-size: 13px;
    gap: 10px;
    justify-content: center;
    transition: all 0.6s ease-in-out;
  }
  .side_menu {
    padding: 50px 50px;
  }
  .recommand_img {
    display: none;
  }
  .reco_left > a {
    width: 100px;
  }
  .reco_left,
  .reco_middle,
  .reco_right > a {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 50%;
  }
  .next_button {
    display: none;
  }
  .reco_left > a > span {
    text-align: center;
    margin-top: 40px;
    display: block;

    font-size: 20px;
  }
  .reco_middle > a > span {
    text-align: center;
    margin-top: 40px;
    display: block;
    font-size: 20px;
  }
  .reco_right > a > span {
    text-align: center;
    margin-top: 20px;
    display: block;

    font-size: 20px;
  }
  .recent_txt {
    margin-top: 150px;
  }
  .recommand_txt {
    margin-bottom: 60px;
    margin-top: 50px;
  }
  .swiper2 {
    height: 400px;
    display: block;
  }

  .swiper {
    height: 400px;
    transition: all 0.6s ease-in-out;
  }
  .swiper2 {
    overflow: hidden;
    transition: all 0.6s ease-in-out;
  }
  .swiper2 > .swiper-button-next {
    display: none;
  }
  .swiper2 > .swiper-button-prev:after {
    display: none;
  }
  .swiper-slide-prev {
    margin-right: 0;
  }
  .swiper-slide .swiper-slide-active {
    margin-right: 0px;
  }
  .section_recommand > .align {
    padding: 0;
  }
  .recommand_txt {
    padding: 0 20px;
  }
  .swiper-pagination {
    bottom: inherit;
  }

  .swiper2 > .swiper-pagination > span {
    width: 120px;
    height: 10px;
    border-radius: 0;
  }
  #pg {
    bottom: -100px;
  }
  .section_recent {
    height: 500px;
  }
  .recent_title {
    padding-top: 50px;
  }
  .recent_txt > a {
    margin-top: 55px;
    transition: all 0.6s;
  }

  .recent_title {
    font-size: 30px;
    transition: all 0.6s;
  }

  .section_event > .align {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .section_event {
    height: 600px;
  }
  .event_img {
    margin-top: 0px;
    width: 300px;
  }
  .event_txt {
    margin: 0;
  }
  .event_txt > button {
    width: 150px;
  }
  .event_txt > div:nth-child(2) {
    margin-top: 0px;
  }
  .event_txt > div:nth-child(2) {
    margin-bottom: 10px;
  }
  .recent_img {
    flex-direction: column;
  }
  .recent_img > div > img {
    margin: 0 auto;
  }
  .recent_img > div > .recefirst_child {
    text-align: center;
  }
  .recent_img > div > .recesecond_child {
    text-align: center;
  }
  .grade {
    display: none;
  }
  .good {
    display: none;
  }
  .section_recent {
    height: 1050px;
  }
  .sns {
    margin-left: 0px;
  }
  .footer_nav > ul {
    margin-left: 0px;
  }
}
@media all and (max-width: 560px) {
  .footer_nav > ul {
    font-size: 15px;
    gap: 10px;
    flex-direction: column;
  }
  .import {
    display: none;
  }
}

@media all and (max-width: 460px) {
  .quick_menu > a:nth-child(1) {
    display: none;
  }
  .side_menu {
    padding: 30px 30px;
  }
  .side_login > a {
    font-size: 20px;
  }
  .side_login > a > strong {
    font-size: 30px;
  }
  a.close {
    font-size: 35px;
  }
  section {
    height: 500px;
    transition: all 0.6s ease-in-out;
  }
  .recommand_title {
    font-size: 20px;
    margin-top: 17px;
  }
  .swiper2 > .swiper-pagination > span {
    width: 80px;
  }
  .recommand_txt > a {
    font-size: 10px;
    margin-top: 25px;
  }
  .recent_txt {
    margin-top: 0;
  }
  #pg {
    bottom: 0;
  }
  .recent_title {
    font-size: 20px;
    transition: all 0.6s;
  }
  .recent_txt > a {
    font-size: 12px;
  }
  .swiper-button-next:after {
    display: none;
  }
  .swiper-button-prev:after {
    display: none;
  }
  .event_txt > div:nth-child(1) {
    font-size: 28px;
    transition: all 0.6s ease-in-out;
  }
  .event_txt > div:nth-child(2) {
    font-size: 14px;
  }
  .section_event {
    height: 500px;
  }
  .event_txt > div:nth-child(2) {
    margin-top: 10px;
  }
  .section_recent {
    height: 1000px;
  }
  .event_img {
    width: 250px;
  }
  .import {
    display: none;
  }
  footer {
    height: 550px;
  }
}

@media all and (max-width: 360px) {
  .side_login > a {
    font-size: 15px;
  }
  .side_login > a > strong {
    font-size: 25px;
  }
  a.close {
    font-size: 25px;
  }
  section {
    height: 400px;
    transition: all 0.6s ease-in-out;
  }
  .recommand_title {
    font-size: 15px;
    margin-top: 17px;
  }
  .recommand_txt {
    margin-bottom: 40px;
  }
  .reco_left > a {
    width: 100px;
  }
  .reco_left,
  .reco_middle,
  .reco_right > a {
    width: 150px;
    height: 150px;
  }
  .reco_left > a > span {
    text-align: center;
    margin-top: 40px;
    display: block;
    font-size: 20px;
  }
  .reco_middle > a > span {
    text-align: center;
    margin-top: 40px;
    display: block;
    font-size: 20px;
  }
  .reco_right > a > span {
    text-align: center;
    margin-top: 40px;
    display: block;

    font-size: 20px;
  }
  .recent_txt {
    margin-top: 0;
  }
  #pg {
    bottom: 0;
  }
  .recent_title {
    font-size: 15px;
    margin-top: 20px;
    padding-top: 40px;
    transition: all 0.6s;
  }
  .recent_txt > a {
    font-size: 10px;
    margin-top: 65px;
  }
  .section_recent {
    height: 1000px;
  }
  header > .align {
    justify-content: space-between;
  }
  .quick_menu {
    align-items: center;
    margin-top: 0;
  }
  .quick_menu > a:nth-child(1) {
    margin-right: 10px;
    transition: all 0.6s ease-in-out;
    margin-top: 10px;
    width: 20px;
  }
  .quick_menu > a:nth-child(2) {
    margin-top: 10px;
    width: 20px;
  }

  .quick_menu > a > img {
    width: 20px;
  }
  .footer_logo > div {
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .logo > a > img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .hamburger_btn {
    font-size: 2rem;
    transition: all 0.6s ease-in-out;
    margin-top: 35px;
  }
  .footer_logo {
    flex-direction: column;
  }

  footer {
    height: 580px;
  }
}

.hidden{
display:none;
}
