<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대구요</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <script src="https://kit.fontawesome.com/c53a5f44b2.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c96667de1e2a83fda759d9e99f6fa0f6&libraries=services,clusterer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  </head>
  <body>
  <span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}" id="email" class="hidden"></span>
  <span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUserPhoneNumber()}" id="phone" class="hidden"></span>
  <div id="warp">
    <div class="side_menu">
      <div class="ide_login">
        <a href="#"> 안녕하세요! <strong>SEIN</strong>님</a>
        <a href="#" class="close">&times;</a>
      </div>
      <div class="panner">
        <ul>
          <li><a href="javascript:void(0);">홈</a></li>
          <li><a href="javascript:void(0);">주문</a></li>
          <li><a href="javascript:void(0);">매장찾기</a></li>
          <li><a href="javascript:void(0);">마이페이지</a></li>
          <li><a href="javascript:void(0);">로그아웃</a></li>
        </ul>
      </div>
    </div>

    <div class="map_bg">
      <div id="map">
        <div class="map_search">
          <input value="지번, 도로, 건물명으로 검색" />
          <button>검색</button>
        </div>


        <div class="current_location_group">
          <img src="/images/gps.png" alt="" class="gps">
          <div class="current_location">현재 위치에서 찾기</div>
        </div>

        <div class="location_select">
          대구 광역시 동구 동촌로55길36
        </div>

        <div class="location_complete">선택하기</div>
      </div>
    </div>

    <header>
      <div class="scroll_btn">
        <ul>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_01.png" alt="슬라이드버튼1"></a></li>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_02.png" alt="슬라이드버튼2"></a></li>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_03.png" alt="슬라이드버튼3"></a></li>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_07.png" alt="슬라이드버튼4"></a></li>
        </ul>
      </div>
      <div class="align">
        <div class="hamburger_btn">
          <i class="fa-solid fa-bars"></i>
        </div>

        <h1 class="logo">
          <a th:href="@{/}"><img src="/images/header_logo.png" alt= "로고"/></a>
        </h1>
        <nav>
          <ul class="mainmenu">
            <li>
              <a href="javascript:void(0);">홈</a>
              <div class="sub_menu">
                <p><strong>대구요</strong>가 <br> 궁금하신가요?</p>
                <ul class="drop_list">
                  <li><a href="javascript:void(0);">회사소개</a></li>
                  <li><a href="javascript:void(0);">회사연혁</a></li>
                  <li><a href="javascript:void(0);">브랜드소개</a></li>
                  <li><a href="javascript:void(0);">찾아오시는길</a></li>
                </ul>
              </div>
            </li>
            <li><a th:href="@{/menu_catagory}">주문</a></li>
            <li><a th:href="@{/myPage}">마이페이지</a></li>
          </ul>
        </nav>
        <div class="quick_menu">
          <a th:href="@{/myPage}" id="mypage"><span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUserNickname()} + 님" id="nickname"></span></a>
          <a th:href="@{/cart}"><img src="/images/storage.png" alt="장바구니"></a>
          <a  sec:authorize="isAuthenticated()" th:href="@{/logout}"><img src="/images/login.png" alt="로그아웃"></a>
          <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><img src="/images/login.png" alt="로그인"></a>
          <a href="javascript:void(0);" class="location"><img src="/images/location.png" alt="지도찾기"></a>
        </div>
      </div>
    </header>

    <div  class="main_board">
      <div class ="order">
        <span>주문/결제</span>

        <span>주문완료</span>


      </div>
      <div  class="menu_container">

          <div  class="main_name" id="res-id" th:if="${resDto != null}">
            <span id="res_id" class="hidden" th:text="${resDto.res_id}"></span>
            <span id="res_name" th:text="${resDto.res_name}"></span>
          </div>
        <div  class="main_menu"  th:if="${menuDto != null}" th:each="menuDto : ${menuDto}">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>

              <div class="menu_image">
                  <img src="/images/sectionbg_02.jpg">
              </div>
              <div class="menu_name">
                <div class="menu_name_box">
                  <span id="menuName" th:text="${menuDto.menu_name}"></span>
                  <div class="form-check" th:if="${cartDto != null}" th:each="cartDto : ${cartDto}" hidden>
                    <th:block th:if="${menuDto.menu_id == cartDto.menu_id}">

                    <label class="form-check-label" for="flexCheckChecked"></label>
                    <span class="cart-id" th:text="${cartDto.cart_id}" hidden> </span>
                    </th:block>
                  </div>

                </div>



                <div class="name_price">
                  <ul>
                    <li th:if="${cartDto != null}" th:each="cartDto : ${cartDto}">
                      <th:block th:if="${menuDto.menu_id == cartDto.menu_id}">
                        <div th:each="selected_option : ${#strings.listSplit(cartDto.selected_option, ',')}">
                          <span id="selectOption" th:text="${selected_option}"></span>
                        </div>
                      </th:block>
                    </li>
                  </ul>
                  <button class="option">옵션변경</button>
                  <div class="quantity">
                    <button class="minus">ㅡ</button>
                    <span id="amount" class="amount"></span>
                    <button class="plus">+</button>
                  </div>

                </div>



              </div>

          <button id="delete" onclick="deleteMenuItem(this)">✖️️</button>

          </div>


              <div class="menu_add">
                <img src="/images/storage.png" alt=""> &nbsp;
                <span>더 담으러 가기</span>
              </div>
            </div>
                <div class="menu_container2" th:if="${menuDto != null and not #lists.isEmpty(menuDto)}">
                    <div class="main_menu_container2">
                      <div class="cart_main">장바구니상품</div>
                      <div class="price_info">
                        <ul>
                          <li>
                            <span >상품금액</span>
                            <span id ="order_amount" th:text="${totalPrice}">2</span>
                          </li>
                          <li>
                            <span>배달팁</span>
                            <span>+2,000원</span>
                          </li>
                          <li>
                            <span>할인금액</span>
                            <span>-0원</span>
                          </li>
                        </ul>
                      </div>
                      <div class="total_price">
                       <ul>
                        <li>
                            <span>총 상품금액</span>
                          <span id ="total_price" th:text="${totalPrice+2000}"></span>
                        </li>
                       </ul>
                      </div>
                    </div>
                  <button class="pay" onclick="requestPayment()">결제하기</button>
                  </div>

<!--      <button class="pay" onclick="requestPayment()">결제하기</button>-->


    </div>

  </div>



  </body>
  <script>
    var u_email = document.getElementById("email").textContent;
    var phoneNumber = document.getElementById("phone").textContent;
    var elements = document.querySelectorAll(".main_name");

for (var i = 0; i < elements.length; i++) {
    var resId = elements[i].querySelector("#res_id").textContent;
    var resName = elements[i].querySelector("#res_name").textContent;

    console.log("resId :" , resId);
    // 이제 resId와 resName을 사용하여 필요한 작업을 수행할 수 있습니다.
}
    var total_price_str = document.getElementById("total_price").textContent;
    var total_price_int = parseInt(total_price_str, 10);
    console.log(total_price_int);

function requestPayment() {
PortOne.requestPayment({
    storeId: 'store-e41c5842-2d91-4a60-90bf-3b70da11378f',
    paymentId: 'paymentId' + new Date().getTime(), // 고유한 결제 ID 생성
    orderName: '나이키 와플 트레이너 2 SD',
    totalAmount: total_price_int,
    currency: 'CURRENCY_KRW',
    channelKey: 'channel-key-d184ee7f-a639-44ef-81b3-d1aeb4eba934',
    payMethod: "CARD",
    customer:{customerId:u_email,
    phoneNumber:phoneNumber}
}).then(function (response) {

        const selectOptionElements = document.querySelectorAll('#selectOption');
        const selectOptions = [];

        selectOptionElements.forEach((element) => {
        selectOptions.push(element.textContent);
        });

        const menuNameElements = document.querySelectorAll('#menuName');
        const menuNames = [];

        menuNameElements.forEach((element) => {
        menuNames.push(element.textContent);
        });

        const amount = document.getElementById("order_amount").textContent;
        var amount_int = parseInt(amount, 10);


        const selectOptionString = selectOptions.join(',');
        const menuNameString = menuNames.join(',');

    const requestData = {
     order_id : 'orderid' + new Date().getTime(),
     coupon_id : '123',
     u_email : u_email,
     menu_name : menuNameString,
     res_id : resId,
     select_option : selectOptionString,
     order_amount : amount_int,
     total_price : total_price_int,
     order_status : "waiting"
    };

    axios.post("/orderSuccess",requestData)
    .then(function (serverResponse) {
      // 서버 응답을 처리하는 코드
      console.log('서버 응답:', serverResponse);
      // 여기에서 서버 응답에 따른 추가 작업 수행
    })
    .catch(function (error) {
      // 오류 처리 코드
      console.error('Axios 요청 오류:', error);
    });
  })
  .catch(function (error) {
    // 결제 오류 처리 코드
    console.error('결제 오류:', error);
  });
}

function deleteMenuItem(button) {
  var menuNameBox = button.parentElement;
  var cartIdElement = menuNameBox.querySelector(".cart-id");
  console.log("cartIdElement : " + cartIdElement);
  if (cartIdElement) {
    var cart_id = cartIdElement.textContent;
    console.log("cart_id: " + cart_id);

    axios.delete("/deleteMenu?cart_id=" + cart_id)
      .then(function (response) {
        if (response.status === 200) {
          // 삭제 요청이 성공적으로 완료된 경우
          menuNameBox.remove(); // HTML에서 해당 메뉴 아이템 제거
          location.reload();
        } else {
          console.error('메뉴 삭제 요청에 실패했습니다.');
        }
      })
      .catch(function (error) {
        console.error('메뉴 삭제 요청 오류:', error);
      });
  }
}


  </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="/js/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</html>