<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대구요</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/c53a5f44b2.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c96667de1e2a83fda759d9e99f6fa0f6&libraries=services,clusterer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  </head>
  <body>
    <div id="warp">
      <div class="side_menu">
        <div class="ide_login">
          <a href="/myPage"> 안녕하세요! <strong>SEIN</strong>님</a>
          <a href="#" class="close">&times;</a>
        </div>
        <div class="panner">
          <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/cart">주문</a></li>
            <li><a href="javascript:void(0);">매장찾기</a></li>
            <li><a href="/myPage">마이페이지</a></li>

            <li><a sec:authorize="isAuthenticated()" href="/logout">로그아웃</a></li>

          </ul>
        </div>
      </div>

      <div class="map_bg">
        <div id="map">
          <div class="map_search">
            <input value="지번, 도로, 건물명으로 검색" />
            <button>검색</button>
          </div>

          <div class="current_location_group">
            <img src="/images/gps.png" alt="" class="gps">
            <div class="current_location" id="locationButton">현재 위치에서 찾기</div>
          </div>

          <div class="location_select">

          </div>
          <div id="mapping" style="width:100%;height:350px;"></div>
          <div class="location_complete">선택하기</div>
        </div>
    </div>

    <header>
      <div class="scroll_btn">
        <ul>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_01.png" alt="슬라이드버튼1"></a></li>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_02.png" alt="슬라이드버튼2"></a></li>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_03.png" alt="슬라이드버튼3"></a></li>
          <li><a href="javascript:void(0);"><img src="/images/slidebutton_07.png" alt="슬라이드버튼4"></a></li>
        </ul>
      </div>
      <div class="align">
        <div class="hamburger_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
        
        <h1 class="logo">
          <a th:href="@{/}"><img src="/images/header_logo.png" alt= "로고"/></a>
        </h1>
        <nav>
          <ul class="mainmenu">
            <li>
              <a href="/index copy">홈</a>
              <div class="sub_menu">
                <p><strong>대구요</strong>가 <br> 궁금하신가요?</p>
                <ul class="drop_list">
                  <li><a href="javascript:void(0);">회사소개</a></li>
                  <li><a href="javascript:void(0);">회사연혁</a></li>
                  <li><a href="javascript:void(0);">브랜드소개</a></li>
                  <li><a href="javascript:void(0);">찾아오시는길</a></li>
                </ul>
              </div>
            </li>
            <li><a th:href="@{/menu_catagory}">주문</a></li>
            <li><a th:href="@{/myPage}">마이페이지</a></li>
          </ul>
        </nav>
        <div class="quick_menu">
          <a th:href="@{/myPage}" id="mypage"><span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUserNickname()} + 님"></span></a>
          <a th:href="@{/cart}"><img src="/images/storage.png" alt="장바구니"></a>
          <a  sec:authorize="isAuthenticated()" th:href="@{/logout}"><img src="/images/login.png" alt="로그아웃"></a>
          <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><img src="/images/login.png" alt="로그인"></a>
          <a href="javascript:void(0);" class="location"><img src="/images/location.png" alt="지도찾기"></a>
        </div>
      </div>
    </header>
        


      <main>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide slideFirtst"></div>
            <div class="swiper-slide slideSecond"></div>
            <div class="swiper-slide slideThird"></div>
            <div class="swiper-slide slideFourth"></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </main>
  

    <section class="section_recommand">
      <div class="align">
        <div class="recommand_txt">
          <div class="recommand_title">불금엔 <strong>'쿨'</strong>하게 대구로</div>
          <a href="javascript:void(0);">전체보기 <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="recommand_img">
            <div class="reco_left">
              <a href="javascript:void(0);">
                <img src="/images/recommend01.png" alt="추천메뉴1" class="reco01">
                <img src="/images/next.png" alt="화살표">
                <span>KFC 19시 부터 <br><b>전메뉴 50%</b></span>
              </a>
            </div>
            <div class="reco_middle">
              <a href="javascript:void(0);">
                <img src="/images/recommend02.png" alt="추천메뉴2" class="reco02">
                <img src="/images/next.png" alt="화살표">
                <span>베스킨라벤스 <br><b>신메뉴 최대 30%</b></span>
              </a>
            </div>
            <div class="reco_right">
              <a href="javascript:void(0);">
                <img src="/images/recommend03.png" alt="추천메뉴3" class="reco03">
                <img src="/images/next.png" alt="화살표">
                <span>도미노피자 <br><b>전메뉴 최대 30%</b></span>
              </a>
            </div>
        </div>

        <div class="swiper2 mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reco_left">
                <a href="javascript:void(0);">
                  <img src="/images/recommend01.png" alt="추천메뉴1" class="reco01">
                  <img src="/images/next.png" alt="화살표"  class="next_button">
                  <span>KFC 19시 부터 <br><b>전메뉴 50%</b></span>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reco_middle">
                <a href="javascript:void(0);">
                  <img src="/images/recommend02.png" alt="추천메뉴2" class="reco02">
                  <img src="/images/next.png" alt="화살표"  class="next_button">
                  <span>베스킨라벤스 <br><b>신메뉴 최대 30%</b></span>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reco_right">
                <a href="javascript:void(0);">
                  <img src="/images/recommend03.png" alt="추천메뉴3" class="reco03">
                  <img src="/images/next.png" alt="화살표"  class="next_button">
                  <span>도미노피자 <br><b>전메뉴 최대 30%</b></span>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination" id="pg"></div>
        </div>
      </div>
    </section>

    <section class="section_recent">
      <div class="align">
        <div class="recent_txt">
          <div class="recent_title">최근에 주문했어요</div>
          <a href="javascript:void(0);">전체보기 <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="recent_img">
          <div class="recent01">
            <div class="grade">5점</div>
            <img src="/images/sectionbg_01.jpg" alt="섹션이미지1">
            <span class="recefirst_child">#토마토냉파스타 #목살부리또</span>
            <span class="recesecond_child">오뚜랑뜨랑</span>
          </div>
          <div class="recent02">
            <div class="grade">5점</div>
            <div class="good">추천</div>
            <img src="/images/sectionbg_02.jpg" alt="색션이미지2">
            <span class="recefirst_child">#깐풍만두 #맵찔이는 도전금지</span>
            <span class="recesecond_child">혁수네 반점</span>
          </div>
          <div class="recent03">
            <img src="/images/sectionbg_03.jpg" alt="섹션이미지3">
            <span class="recefirst_child">#얼큰김치뚝배기 #대구전통의 맛</span>
            <span class="recesecond_child">꿀메뚝배기</span>
          </div>
        </div>
      </div>

    </section>
    <footer>
      <div class="align">
        <div class="sns">
          <a href="javascript:void(0);"><img src="/images/facebook.png" alt="페이스북"></a>
          <a href="javascript:void(0);"><img src="/images/instagram.png" alt="인스타그램"></a>
        </div>
        <div class="footer_logo">
          <a href="/index copy">
            <img src="/images/footer_logo.png" alt="하단로고">
          </a>
          <div>1661 - 5270</div>
        </div>
        <div class="footer_nav">
          <ul>
            <li><a href="javascript:void(0);">이용약관</a></li>
            <li><a href="javascript:void(0);">개인정보처리방침</a></li>
            <li><a href="javascript:void(0);">위치기반서비스</a></li>
            <li><a href="javascript:void(0);">고객센터</a></li>
            <li><a href="javascript:void(0);">인재채용</a></li>
            <li><a href="javascript:void(0);">단체주문</a></li>
          </ul>
        </div>
        <div class="copyright">
          <div>
            주식회사 대구요는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 상품/ 거래정보 및 거래와 관련하여 <br>
          대구요에 등록된 판매자의 고의 또는 과실로 소비자에게 발생하는 손해에 대해 주식회사 대구요는 책임을 지지 않습니다.<br>
          상품 및 거래에 관하여 보다 정확한 정보는 해당 판매자에게 직접 확인하여 주시기 바랍니다.
          <p>Copyright DagueYO. All Rights Reserved.</p>
          </div>
          <div class="familysite">
            <select name="" id="" class="select2">
              <option value="">Global site</option>
              <option value="">KOREA</option>
              <option value="">USA</option>
            </select>
          </div>
        </div>
      </div>

    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
