<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원정보 수정</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/memberUpdate_style.css" />
  <!-- 구글아이콘 -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <style>
    .material-symbols-outlined {
      font-variation-settings:
              'FILL' 0,
              'wght' 400,
              'GRAD' 0,
              'opsz' 24
    }
  </style>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kit.fontawesome.com/c53a5f44b2.js"></script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>

<body>
<script th:if="${session.username != null}" th:inline="javascript">
  var uemail = [[${session.username}]];
  console.log(uemail);
</script>
<div id="warp">
  <div class="side_menu">
    <div class="ide_login">
      <a href="#"> 안녕하세요! <strong>SEIN</strong>님</a>
      <a href="#" class="close">&times;</a>
    </div>
    <div class="panner">
      <ul>
        <li><a href="javascript:void(0);">홈</a></li>
        <li><a href="javascript:void(0);">주문</a></li>
        <li><a href="javascript:void(0);">매장찾기</a></li>
        <li><a href="javascript:void(0);">마이페이지</a></li>
        <li><a href="javascript:void(0);">로그아웃</a></li>
      </ul>
    </div>
  </div>

  <div class="map_bg">
    <div id="map">
      <div class="map_search">
        <input value="지번, 도로, 건물명으로 검색" />
        <button>검색</button>
      </div>

      <div class="current_location_group">
        <img src="/images/gps.png" alt="" class="gps">
        <div class="current_location">현재 위치에서 찾기</div>
      </div>

      <div class="location_select">
        대구 광역시 동구 동촌로55길36
      </div>

      <div class="location_complete">선택하기</div>
    </div>
  </div>

  <header>
    <div class="scroll_btn">
      <ul>
        <li><a href="javascript:void(0);"><img src="/images/slidebutton_01.png" alt="슬라이드버튼1"></a></li>
        <li><a href="javascript:void(0);"><img src="/images/slidebutton_02.png" alt="슬라이드버튼2"></a></li>
        <li><a href="javascript:void(0);"><img src="/images/slidebutton_03.png" alt="슬라이드버튼3"></a></li>
        <li><a href="javascript:void(0);"><img src="/images/slidebutton_07.png" alt="슬라이드버튼4"></a></li>
      </ul>
    </div>
    <div class="align">
      <div class="hamburger_btn">
        <i class="fa-solid fa-bars"></i>
      </div>

      <h1 class="logo">
        <a href="javascript:void(0);"><img src="/images/header_logo.png" alt="로고" /></a>
      </h1>
      <nav>
        <ul class="mainmenu">
          <li>
            <a th:href="@{/}">홈</a>
            <div class="sub_menu">
              <p><strong>대구요</strong>가 <br> 궁금하신가요?</p>
              <ul class="drop_list">
                <li><a href="javascript:void(0);">회사소개</a></li>
                <li><a href="javascript:void(0);">회사연혁</a></li>
                <li><a href="javascript:void(0);">브랜드소개</a></li>
                <li><a href="javascript:void(0);">찾아오시는길</a></li>
              </ul>
            </div>
          </li>
          <li><a th:href="@{/menu_catagory}">주문</a></li>
          <li><a th:href="@{/myPage}">마이페이지</a></li>
        </ul>
      </nav>
      <div class="quick_menu">
        <a th:href="@{/myPage}" id="mypage"><span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUserNickname()} + 님"></span></a>
        <a th:href="@{/cart}"><img src="/images/storage.png" alt="장바구니"></a>
        <a  sec:authorize="isAuthenticated()" th:href="@{/logout}"><img src="/images/login.png" alt="로그아웃"></a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><img src="/images/login.png" alt="로그인"></a>
        <a href="javascript:void(0);" class="location"><img src="/images/location.png" alt="지도찾기"></a>
      </div>
    </div>
  </header>

  <!-- 메인(조인헤더) -->
  <main>

    <section class="section_join_header">

      <div class="info_text">
        <span><a href="/index copy.html">홈</a></span>
        <span>></span>
        <span><a href="/memberUpdate.html" style="color:#01cafe;">회원정보 수정</a></span>
      </div>
    </section>
  </main>
  <!-- 메인(조인헤더 끝) -->
  <section class="section_enterInfo" sec:authorize="isAuthenticated()">
    <div class="section_header">회원정보 입력</div>
    <div class="big_container">
      <!--정보입력창-->
      <div class="name_container">
        <div class="name_box">이름</div>
        <div class="name_input">
          <input type="text" id="nickname" th:value="${#authentication.getPrincipal().getUserNickname()}" >
          <button>
            <img src="/images/cancel.png" alt="">
          </button>
        </div>
      </div>
      <!--        <div class="year_container">-->
      <!--          <div class="year_box">생년월일</div>-->
      <!--          <input type="text" placeholder="YEAR" id="year">-->
      <!--          <select id="month" name="month">-->
      <!--            <option value="" disabled selected>MONTH</option>-->
      <!--            <option value="1">1월</option>-->
      <!--            <option value="2">2월</option>-->
      <!--            <option value="3">3월</option>-->
      <!--            <option value="4">4월</option>-->
      <!--            <option value="5">5월</option>-->
      <!--            <option value="6">6월</option>-->
      <!--            <option value="7">7월</option>-->
      <!--            <option value="8">8월</option>-->
      <!--            <option value="9">9월</option>-->
      <!--            <option value="10">10월</option>-->
      <!--            <option value="11">11월</option>-->
      <!--            <option value="12">12월</option>-->
      <!--          </select>-->
      <!--          <input type="text" placeholder="DAY" id="day">-->
      <!--        </div>-->
      <div class="email_container">
        <div class="email_box">이메일</div>
        <div class="email_input">
          <input type="text"  id="email_id"  th:value="${#authentication.getPrincipal().getUsername()}">
        </div>
      </div>
      <div class="password1_container">
        <div class="password1_box">비밀번호</div>
        <div class="password1_input">
          <input type="password" id="password1">
          <button id="pass1_btn">
            <img src="./images/eye.png" alt="" id="eyeImage1">
          </button>
        </div>
      </div>
      <!--      <div class="password2_container">-->
      <!--        <div class="password2_box">비밀번호</div>-->
      <!--        <div class="password2_input">-->
      <!--          <input type="password" id="password2">-->
      <!--          <button id="pass2_btn">-->
      <!--            <img src="/images/eye.png" alt="" id="eyeImage2">-->
      <!--          </button>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="phone_container">
        <div class="phone_box">휴대폰 번호</div>
        <div class="phone_input" >
          <input type="tel" id="phone" th:value="${#authentication.getPrincipal().getUserPhoneNumber()}">
          <button onclick="" id="phone_btn">인증</button>
        </div>

      </div>
      <div class="addr_container">
        <div class="addr_box">주소</div>
        <div class="addr">
          <label for="addr"></label>
          <input type="text" id="addr_number" placeholder="우편번호" />
          <div id="addr_btn">
            <input type="button" onclick="Postcode()" value="우편번호 찾기" />
          </div>
          <div id="layer"
               style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
                 style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1;width:20px;height:20px;"
                 onclick="closeDaumPostcode()" alt="닫기 버튼">
          </div>
        </div>
        <div class="address">
          <input type="text" id="address" placeholder="주소"/>
        </div>
        <div class="address">
          <input type="text" id="detailAddress" placeholder="상세주소" />
          <input type="text" id="extraAddress" placeholder="참고항목" />
        </div>
      </div>

    </div>
    </form>
  </section>
  <section class="section_agree">
    <div class="agree_submit_zone">
      <button onclick="" class="agree_submit_box" id="updateMemberbtn">수정하기</button>
      <button onclick="" class="agree_submit_cancel" id="updatecancel">취소</button>
      <button onclick="" class="agree_submit_delete" id="userdeltebtn">탈퇴하기</button>
    </div>
  </section>

  <footer>
    <div class="align">
      <div class="sns">
        <a href="javascript:void(0);"><img src="/images/facebook.png" alt="페이스북"></a>
        <a href="javascript:void(0);"><img src="/images/instagram.png" alt="인스타그램"></a>
      </div>
      <div class="footer_logo">
        <a href="javascript:void(0);">
          <img src="/images/footer_logo.png" alt="하단로고">
        </a>
        <div>1661 - 5270</div>
      </div>
      <div class="footer_nav">
        <ul>
          <li><a href="javascript:void(0);">이용약관</a></li>
          <li><a href="javascript:void(0);">개인정보처리방침</a></li>
          <li><a href="javascript:void(0);">위치기반서비스</a></li>
          <li><a href="javascript:void(0);">고객센터</a></li>
          <li><a href="javascript:void(0);">인재채용</a></li>
          <li><a href="javascript:void(0);">단체주문</a></li>
        </ul>
      </div>
      <div class="copyright">
        <div>
          주식회사 대구요는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 상품/ 거래정보 및 거래와 관련하여 <br>
          대구요에 등록된 판매자의 고의 또는 과실로 소비자에게 발생하는 손해에 대해 주식회사 대구요는 책임을 지지 않습니다.<br>
          상품 및 거래에 관하여 보다 정확한 정보는 해당 판매자에게 직접 확인하여 주시기 바랍니다.
          <p>Copyright DagueYO. All Rights Reserved.</p>
        </div>
        <div class="familysite">
          <select name="" id="" class="select2">
            <option value="">Global site</option>
            <option value="">KOREA</option>
            <option value="">USA</option>
          </select>
        </div>
      </div>
    </div>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/memberUpdate.js"></script>

</body>


</html>