<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대구요</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/resCheck.css">
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/c53a5f44b2.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  </head>
  <body style="background-color: #edededbb;">
  <div id="warp">
      <div class="side_menu">
        <div class="ide_login">
          <a href="#"> 안녕하세요! <strong>SEIN</strong>님</a>
          <a href="#" class="close">&times;</a>
        </div>
        <div class="panner">
          <ul>
            <li><a href="javascript:void(0);">홈</a></li>
            <li><a href="javascript:void(0);">주문</a></li>
            <li><a href="javascript:void(0);">매장찾기</a></li>
            <li><a href="javascript:void(0);">마이페이지</a></li>
            <li><a href="javascript:void(0);">로그아웃</a></li>
          </ul>
        </div>
      </div>

    <header>

        <script th:if="${session.username != null}"  th:inline="javascript">

            var username = [[${session.username}]];
            console.log(username);

        </script>


      <div class="align">
        <div class="hamburger_btn">
          <i class="fa-solid fa-bars"></i>
        </div>

        <h1 class="logo">
          <a href="javascript:void(0);"><img src="/images/header_logo.png" alt= "로고"/></a>
        </h1>
        <nav>
          <ul class="mainmenu">
            <li>
              <a th:href="@{/}">홈</a>
              <div class="sub_menu">
                <p><strong>대구요</strong>가 <br> 궁금하신가요?</p>
                <ul class="drop_list">
                  <li><a href="javascript:void(0);">회사소개</a></li>
                  <li><a href="javascript:void(0);">회사연혁</a></li>
                  <li><a href="javascript:void(0);">브랜드소개</a></li>
                  <li><a href="javascript:void(0);">찾아오시는길</a></li>
                </ul>
              </div>
            </li>
              <li><a th:href="@{/menu_catagory}">주문</a></li>
              <li><a th:href="@{/myPage}">마이페이지</a></li>
          </ul>
        </nav>
          <div class="quick_menu">
              <a th:href="@{/myPage}" id="mypage"><span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUserNickname()} + 님"></span></a>
              <a th:href="@{/cart}"><img src="/images/storage.png" alt="장바구니"></a>
              <a  sec:authorize="isAuthenticated()" th:href="@{/logout}"><img src="/images/login.png" alt="로그아웃"></a>
              <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><img src="/images/login.png" alt="로그인"></a>
          </div>
      </div>
    </header>

    <main class="align">

     <div class="navigationLinks ">
            <span><a href="/index copy.html" class="home-link">홈</a></span>
            <span>></span>
            <span><a href="/" class="cart-link">장바구니</a></span>
     </div>
 

    <section class="orderState orderSection">
        <div class="cart_order">
            <label class="cart__title2">조리시작 
                <label class="cart__title1">주문승인</label>
            </label>
        </div>

        <div class="howMOP infoBox">
            <img src="./images/account.png" alt="" class="infoImage">
            <span  class="orderText">우리가게, <span  class="highlightText">50번째</span> 주문한 손님이에요. </span>
        </div>
       <div class="order-id-div">
            <input type="text" id="order_id" name="order_id"/>
            <input type="submit" id="submit_id" value="확인"/>
        </div>
     </section>

    <section class="order-container" th:if="${order_id == null}">
    <div class="order-details">
        <div class="order-title">
            <h2>주문 내역</h2>     
        </div>
        <div class="order-list" >
            <div class='order-item' th:each="orderlist : ${orderlist}">
              <div class="order-menu">
                  <ul class="ul1"><p th:text="${orderlist.menu_name}" class="m-name-div">깐풍탕수 소</p></ul>
                  <ul class="ul2">
                      <li th:each="select_option : ${#strings.listSplit(orderlist.select_option, ',')}">
                        <span th:text="${select_option}">맵기 선택 : 1단계 순한맛</span>
                      </li>
                  </ul>
              </div>
              <div class="m-price">
                <p th:text="${orderlist.order_amount}">13,200원</p>
              </div>
            </div>
            <div class='order-item' th:each="orderlist : ${orderlist}">
              <div class="order-menu">
                  <ul class="ul1"><p th:text="${orderlist.menu_name}" class="m-name-div">깐풍탕수 소</p></ul>
                  <ul class="ul2">
                      <li th:each="select_option : ${#strings.listSplit(orderlist.select_option, ',')}">
                        <span th:text="${select_option}">맵기 선택 : 1단계 순한맛</span>
                      </li>
                  </ul>
              </div>
              <div class="m-price">
                <p th:text="${orderlist.order_amount}">13,200원</p>
              </div>
            </div>
            <div class='order-item' th:each="orderlist : ${orderlist}">
              <div class="order-menu">
                  <ul class="ul1"><p th:text="${orderlist.menu_name}" class="m-name-div">깐풍탕수 소</p></ul>
                  <ul class="ul2">
                      <li th:each="select_option : ${#strings.listSplit(orderlist.select_option, ',')}">
                        <span th:text="${select_option}">맵기 선택 : 1단계 순한맛</span>
                      </li>
                  </ul>
              </div>
              <div class="m-price">
                <p th:text="${orderlist.order_amount}">13,200원</p>
              </div>
            </div>
        </div>
    </div>  
    </section>

    <section class="order-container" th:if="${order_id != null}">
          <!-- 특정 주문 출력 -->
          <div class="order-details">
              <div class="order-title">
                  <h2>특정 주문 내역</h2>
              </div>

              <div class="order-list">
                  <div class='order-item'>
                    <div class="order-menu">
                       <ul class="ul1"><span th:text="${orderdto.menu_name}">깐풍탕수 소</span></ul>
                       <ul class="ul2">
                          <li th:each="select_option : ${#strings.listSplit(orderdto.select_option, ',')}">
                            <span th:text="${select_option}" style="margin-left: 30px;">맵기 선택 : 1단계 순한맛</span>
                          </li>
                       </ul>
                    </div>
                    <div class="m-price">
                        <span th:text="${orderdto.order_amount}">13,200원</span>
                    </div>
                  </div>
              </div>
          </div>
    </section>

    <section class="delivery-section" >
          <!-- 특정 배송지 정보 출력 -->
          <div class="delivery-container" >
              <div class="delivery-header">
                  <h2 class="delivery-title">배송지 정보</h2>
              </div>
              <div class="info-container" th:if="${order_id != null}" >
                  <div class="delivery-details">
                      <div class="info-item">
                          <p class="buyer ul1">수령인</p>
                          <span class="buyer1 ul2" th:text="${userdto.nickname}">박민영</span>
                      </div>
                      <div class="info-item">
                          <p class="phone ul1">휴대폰</p>
                          <span class="phone1 ul2" th:text="${userdto.phone}">입니다</span>
                      </div>
                      <div class="info-item address-item">
                          <p class="addr ul1">주소지</p>
                          <span class="addr1 ul2" th:text="${userdto.addr}">어쩌구</span>
                      </div>
                  </div>
              </div>
          </div>
    </section>
        <div class="payBtn">
          <input class="payOk" type="submit" value="결제승인">
          <input class="payCancel" type="submit" value="결제취소">
        </div>

  </main>   

    <footer>
      <div class="align">
        <div class="sns">
          <a href="javascript:void(0);"><img src="/images/facebook.png" alt="페이스북"></a>
          <a href="javascript:void(0);"><img src="/images/instagram.png" alt="인스타그램"></a>
        </div>
        <div class="footer_logo">
          <a href="javascript:void(0);">
            <img src="/images/footer_logo.png" alt="하단로고">
          </a>
          <div>1661 - 5270</div>
        </div>
        <div class="footer_nav">
          <ul>
            <li><a href="javascript:void(0);">이용약관</a></li>
            <li><a href="javascript:void(0);">개인정보처리방침</a></li>
            <li><a href="javascript:void(0);">위치기반서비스</a></li>
            <li><a href="javascript:void(0);">고객센터</a></li>
            <li><a href="javascript:void(0);">인재채용</a></li>
            <li><a href="javascript:void(0);">단체주문</a></li>
          </ul>
        </div>
        <div class="copyright">
          <div>
            주식회사 대구요는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 상품/ 거래정보 및 거래와 관련하여 <br>
          대구요에 등록된 판매자의 고의 또는 과실로 소비자에게 발생하는 손해에 대해 주식회사 대구요는 책임을 지지 않습니다.<br>
          상품 및 거래에 관하여 보다 정확한 정보는 해당 판매자에게 직접 확인하여 주시기 바랍니다.
          <p>Copyright DagueYO. All Rights Reserved.</p>
          </div>
          <div class="familysite">
            <select name="" id="" class="select2">
              <option value="">Global site</option>
              <option value="">KOREA</option>
              <option value="">USA</option>
            </select>
          </div>
        </div>
      </div>

    </footer>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/resCheck.js"></script>
  </body>
</html>
